!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge;chrome=1", "http-equiv" => "X-UA-Compatible"}
    %link{href: "/stylesheets/all.css?1384954982", media: "all", rel: "stylesheet", type:"text/css"}
  %link{href: "/images/favicon.ico", rel: "icon", type: "image/ico"}
    %title
      - if current_article.try(:title)
        #{current_article.title} - fukayatsu.dev
      - else
        fukayatsu.dev
  - if environment == :build
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36253613-1']);
      _gaq.push(['_setDomainName', 'blog.fukayatsu.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    .content
      %header
        .header-inner
          .header-image
            = link_to '/' do
              %img{ src: '/images/fukayatsu.jpg' }
          .header-text
            = link_to '/' do
              %h1.header-title
                fukayatsu.dev
            = link_to 'http://blog.fukayatsu.com/', target: '_new' do
              %p.header-description
                - if environment == :build
                  under development
                - else environment == :development
                  = link_to '[term]', 'my-term://?dir=/Users/fukayatsu/github/fukayatsu.github.io'
                  - if current_article.try(:source_file)
                    = link_to '[subl]', "subl://open/?url=file://#{current_article.source_file}"
      - if current_article.try(:date)
        .publish-date
          = link_to current_article.date, current_article
      - if current_article.try(:tags)
        .tags
          - current_article.tags.each do |tag|
            = link_to tag, tag_path(tag)
      #main{role: "main"}
        - if current_article.try(:title)
          %h1.title= current_article.try(:title)
        = yield
      %footer
        .footer-inner
          %p.copyright
            = link_to '© fukayatsu', 'https:/twitter.com/fukayatsu', target: '_new'
          %p.powerd
            Powered by
            = link_to 'GitHub', 'https://github.com/fukayatsu/fukayatsu.github.io/tree/source', target: '_new'
            &
            = link_to 'Travis CI', 'https://travis-ci.org/fukayatsu/fukayatsu.github.io', target: '_new'
            &
            = link_to 'Middleman', 'http://middlemanapp.com/', target: '_new'
